@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
	--cor-fonte-titulo:   #fff;
	--cor-fonte:   #000;
	--cor-fundo:   #801515;
	--cor-menu:	   #550000;
	--cor-submenu: #AA3939;
	--cor-fundo-car:   #961d1d;
	--cor-hover:   #D46A6A;
	--cor-border:  #365670;

	--fonte-geral: 'Roboto', sans-serif;
}

*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	text-decoration: none;
  	font-family: var(--fonte-geral);
	font-size: 1em;
}

body{
    background: var(--cor-fundo);
}

fieldset{
	width: 95%;
}

.for-fone-garcom fieldset{
	width: 50%;
}


/*  INICIO DO FOMULARIO ACOMPANHAMENTO */

.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
  }

.container{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.container-for{
	margin: 0 auto;
	margin-top: 80px;
	width: 800px;
}

.container label{
	color: var(--cor-fonte);
	font-size: 1em;
	margin-left: 10px;
}

.container h1{
	color: var(--cor-fonte-titulo);
	margin: 10px;
	font-size: 2.5em;
	text-align: center;
}

.container p{
	margin: 0px;
}


.card-principal{
	background: var(--cor-menu);
	border-radius: 10px;
	padding: 10px;
}

.card{
	background: var(--cor-fundo-car);
	box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
	margin: 15px;
}

.cad-for-imagem{   /* Formulario principal */
	display: inline-flex;
}

.form-groupo{
	display: flex;
	width: auto;
	margin-left: 20px;
}

.legenda{
	font-size: 1em;
	padding: 10px;
	color: var(--cor-fonte);
}

.avatar{
	width: 100px;
	height: auto;	
}

.rTable{
	width: 100%; 
	text-align: center;
	border:1
}

.rTable thead{
	background: var(--cor-menu); 
	font-weight: bold; 
	color:#fff;
}

.rTable th , .rTable td{
	padding: 5px 0;
}

.rTable-cod, .rTable-des{
	text-align: left;
}

.rTable-val{
	text-align: right;
}

.rTable-edit, .rTable-excl{
	background-color: transparent;
	text-decoration: none;
	padding: 2px;
	cursor: pointer;
}

.rTable-edit{
	color: var(--cor-fonte);
	text-decoration: none;
	font-size: 0.8em;	
}

.telefones{
	display: flex;
}

.corpo{
	display: inline-flex;
	margin-left: 20px;
}

.dados{
	margin-right: 40px;
}

.cad-imagem {
	width: 160px;
	text-align: center;
}

.img-thumbnail{
	width: 130px;
	margin: 5px;
}

.img-produto{
	display: flex;
	margin-bottom: 10px;
}

.desc-prod{
	margin-right: 75px;
}

legend{
	font-size: 1em;
	padding: 5px;
	color: var(--cor-fonte);
}

.acom-textarea{
	width: 98%;
	margin: 5px;
	height: 170px;
}

#ccodigo{
	margin-bottom: 20px;
	margin-top: 20px;
}

#cvalor, #ccodigo,#cvalor-custo, 
#catual, #cminimo{
	margin-left: 5px;
	padding: 2px;
	height: 40px;
	width: 100px;
	text-align: right;
}

#ccodigobarra{
	margin-left: 5px;
	margin-top: 10px;
	padding: 2px;
	height: 40px;
	width: 200px;

}

#ccod-for, #ccod-setor, #ccod-categoria{
	margin: 5px;
	padding: 2px;
	height: 40px;
	width: 300px;
	margin-top: 20px;
}

#cdata-compra{
	margin: 5px;
	padding: 2px;
	height: 40px;
	width: 150px;
}

.data-compra{
	margin-right: 30px;
}

.dados-usuario{
	display: flex;
	width: auto;
}

.dados-compra{
	display: flex;
	width: auto;
}

.prod-est{
	display: flex;
}

.prod-est fieldset{
	padding: 10px;
	width: auto;
	margin-top: 10px;
}

.radio-esto{
	margin: 0px 60px 0px 5px;
}
.label-radio{
	padding: 5px;
	margin-right: 5px;
}

.formatar-label{
	margin-left: 30px;
}

.endereco{
	display: flex;
}

.label-end{
	margin-top: 10px;
}

#cdescricao, #cnome, #cendereco{
	margin-left: 5px;
	padding: 2px;
	height: 40px;
	margin-bottom: 20px;
	width: 400px;
}

#cnum, #ccomp{
	margin-left: 5px;
	padding: 2px;
	height: 40px;
	margin-bottom: 10px;
	width: 55px;
	text-align: right;
}

.bai-cep-cid{
	display: flex;
}

#cbairro, #ccidade{
	margin-left: 5px;
	padding: 2px;
	height: 40px;
	margin-bottom: 10px;
	width: 200px;
}

#ccep{
	margin-left: 5px;
	padding: 2px;
	height: 40px;
	margin-bottom: 10px;
	width: 100px;
}

.estado-fone{
	display: flex;
	width: auto;
}

.for-est{
	margin-top: 10px;
	padding: 2px;
	height: 40px;
	width: 120px;
}

.for-fone{
	margin-left: 60px;
	padding: 2px;
	height: 40px;
	margin-bottom: 10px;
	width: 545px;
	height: auto;
}

#fone{
	display: flex;
}

#cfixo, #ccelular1, #ccelular2{
	margin-left: 20px;
	margin-right: 10px;
	padding: 2px;
	height: 40px;
	margin-bottom: 10px;
	width: 135px;
}

#cemail{
	text-transform: lowercase;
	margin-left: 5px;
	padding: 2px;
	height: 40px;
	width: 500px;
}

#cusuario{
	margin: 10px;
	padding: 2px;
	height: 40px;
	width: 200px;
}

#csenha{
	margin: 5px;
	padding: 2px;
	height: 40px;
	margin-bottom: 10px;
	width: 200px;
}

.form-privilegio{
	display: flex;
	width: auto;
	margin: 0px 17px 10px 10px;
}

#usu-cad{
	margin-left: 10px;
}

.usuario-cad{
	margin-bottom: 20px;
}

#usu-pdv{
	margin-left: 20px;
}

#usu-manu{
	margin-left: 20px;
}

#usu-fin{
	margin-left: 20px;
}

#usu-rel{
	margin-left: 20px;
}

#usu-gar{
	margin-left: 20px;
}



/* INICIO MENSAGEM DE ALERTA */

#alert{
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	color: var(--cor-fonte-titulo);
	width: 350px;
	height: 40px;
	margin: auto;
	background-color: var(--cor-menu);
}

/* INICIO DO RESPONSIVEL */


@media screen and (max-width: 825px){
	
	.container-for{
		width: 700px;
	}

	.form-groupo{
		width: 450px;
	}
	
	#cfixo, #ccelular1, #ccelular2{
		margin-left: 10px;
	}
	
}

@media screen and (max-width: 800px){

	.container-for{
		margin-bottom: 15px;
	}

	.menu .menu-icon{
		display: block;
	}
	
	.menu #show-menu:checked ~ .menu-icon i::before{
		content: "\f00d";
	}
	
	.menu nav{
		position: relative;
		display: inline-flex;
	}
	  	
	.logo{
		margin-left: 35vw;
	}

	nav #show-menu:checked ~ .content .links{
		left: 0%;
	}

	nav .content .links{
		display: block;
		position: fixed;
		background: var(--cor-submenu);
		height: 100%;
		width: 100%;
		top: 70px;
		left: -100%;
		margin-left: 0;
		max-width: 350px;
		overflow-y: auto;
		padding-bottom: 100px;
		transition: all 0.3s ease;
	}
	

	.content .links li{
		margin: 15px 20px;
	}
	
	.content .links li a,
	.content .links li label{
		line-height: 40px;
		font-size: 20px;
		display: block;
		padding: 8px 18px;
		cursor: pointer;
	}
	
	.content .links li a.desktop-link{
		display: none;
	}
	
	/* dropdown responsive code start */
	.content .links ul,
	.content .links ul ul{
		position: static;
		opacity: 1;
		visibility: visible;
		background: none;
		max-height: 0px;
		overflow: hidden;
	}
	
	.content .links #show-features:checked ~ ul,
	.content .links #show-services:checked ~ ul,
	.content .links #show-items:checked ~ ul{
		max-height: 100vh;
	}
	
	.content .links ul li{
		margin: 7px 20px;
	}
	
	.content .links ul li a{
		font-size: 18px;
		line-height: 30px;
		border-radius: 5px!important;
	}

}
	
@media screen and (max-width: 768px){	
	  
	.container-for{
		margin-left: 80px;
	}

	.container h1{
		width: 580px;
		font-size: 2em;
	}
	
	.card-principal{
		width: auto;
	}

	.cad-for-imagem{
		display: block;
		width: 550px;
	}

	.img-produto{
		display: block;
		margin-bottom: 10px;
	}
	
	.acom-textarea{
		width: 510px;
	}
	
	.cad-imagem{
		width: 250px;
		margin-left: 25%;
		margin-bottom: 10px;
	}

	#img-fomulario{
		width: 200px;
		margin-left: 20px;
	}

	.img-thumbnail{
		width: 200px;
	}

	.card{
		margin: 10px;
		
	}
	
	#cdescricao{
		width: 250px;
		font-size: 0.9em;
	}
   
}
	
@media screen and (max-width: 675px){
	.container-for{
		margin-left: 130px;
	}

}


@media screen and (max-width: 675px){
	.container-for{
		margin-left: 180px;
	}

}

@media screen and (max-width: 565px){
	.container-for{
		margin-left: 250px;
	}

}

@media screen and (max-width: 500px){

	.container h1{
		width: 330px;
		font-size: 1.5em;
	}

	.container-for{
		margin-left: 350px;
	}

	.acom-textarea{
		width: 280px;
	}

	.card-principal{
		width: 350px;
	}

	.cad-for-imagem{
		width: 150px;
	}

	.cad-for-imagem{
		width: 310px;
	}

	.form-groupo{
		width: 290px;
	}

	.legenda{
		font-size: 0.8em;
	}

	.dados-usuario{
		display: block;
	}
	
	.usuario-cad{
		margin-bottom: 0px;
		margin-left: 10px;
	}
	
	.cad-imagem{
		margin-left: 30px;
	}

	.prod-est{
		display: block;
	}
	
	.endereco{
		display: block;
	}
	
	.bai-cep-cid{
		display: block;
	}
	
	.form-groupo{
		display: block;
	}

	.for-est{
		margin-top: 0px;
		margin-bottom: 20px;
	}
	
	.for-fone{
		margin-left: 0px;
		margin-bottom: 0px;
		width: 280px;
	}
	
	.telefones{
		display: block;
	}

	.clas-logo{
		height: auto;
	}

	.logo{
		margin-left: 25vw;
	}

	.image-logo{
		width: 100%;
		margin-left: -55px;
		margin-top: 30px;
	}

	#cvalor, #ccodigo{
		font-size: 0.7em;
	}

	#cdescricao, #cnome,#cendereco{
		width: 200px;
		font-size: 0.7em;
	}

	#ccidade{
		margin-bottom: 0px;
	}
	.card label, .img-fomulario{
		font-size: 0.8em;
	}

	#cemail{
		width: 280px;
	}

	#btnincluir, #btnalterar, #btnexcluir, 
	#btnconfirmar, #btncancelar{
		font-size: 70%;
		font-weight: 500;
		padding: 5px 5px;
		border-radius: 5px;
		margin-left: 1px;
	}

}
