:root{
	--cor-fonte:   #fff;
	--cor-fundo:   #324E6C;
	--cor-menu:	   #23364B;
	--cor-submenu: #547787;
	--cor-hover:   #009FE1;
	--cor-border:  #365670;

	--fonte-geral: 'Poppins', sans-serif;
}
body{
	margin: 0;
	padding: 0;
	font: 300 14px/18px Roboto;
    background: var(--cor-fundo);
	width: 40%;
	height: 50%;
 }
  
*{
  box-sizing: border-box
}

.formulario{
	display: inline-block;
	margin-top: 20%;
	margin-left: 80%;
}

.formulario button{
	border:1px solid #25692A;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	font-weight:bold;
	font-size:13px;
	padding:6px 10px;
	text-decoration:none;
	border-color: #23364B;
	background:linear-gradient(to bottom, #23364B 5%, #365670 100%);
	box-shadow:inset 0px 1px 0px 0px #d7ecfd;
	color: var(--cor-fonte);
	text-shadow:0px 1px 0px #528009;  
} 

.btnincluir{
	margin-left: 50px;
}

.formulario button:hover{
	background:linear-gradient(to bottom, #23364B 5%, #86c6f8 100%);
    box-shadow: 0px 0px 10px #517ead;
    transform: translate(0px, -5px);
    transition: transform 0.5s;
}
	
.formulario:active {
	position:relative;
	top:2px;
}

#for-legenda{
	margin: 15px;
	padding: 15px;
}

#for-legenda input{
	height: 30px;
}

.formulario > h1{
	color: var(--cor-fonte);
	text-align: center;
	font-style: oblique;
	text-decoration: underline;
	margin-bottom: 20px;
}

#for-legenda label, fieldset{
	color: var(--cor-fonte);
}

#ccodigo{
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: right;
	width: 50px;
}

#cdescricao{
	margin-left: 10px;
	margin-bottom: 10px;
	width: 350px;
	text-transform: uppercase;
}

#cvalor{
	margin-left: 10px;
	margin-bottom: 10px;
	width: 120px;
	text-align: right;
}

.cad-for-img{
	display: flex;
	width: 450px;
	padding: 5px ;
}

#cad-for-garcom{
	padding: 5px;
	width: 420px;
	margin-right: 10px;
}

#cad-for-garcom textarea{
	padding: 5px;
	width: 400px;
	height: 130px;
}

#cad-for-mesa{
	padding: 5px;
	width: 420px;
	margin-right: 10px;
}

#cad-for-mesa textarea{
	padding: 5px;
	width: 420px;
	height: 130px;
}


#cad-fomulario{
	padding: 5px;
	width: 300px;
	margin-right: 10px;
}

#ccelular1, #ccelular2 {
	margin: 5px;
	padding: 5px;
	width: 135px;
}
#cad-telefone{
	display: inline-flex;
	padding: 5px 5px 5px 15px;
	margin-bottom: 10px;
}

#cad-fomulario textarea{
	width: 280px;
	height: 200px;
	margin-right: 10px;
}

#img-fomulario{
	width: 120px;
	height: 160px;
	text-align: center;
	margin: auto;
}

.imagem-fomulario{
	width: 100px;
	height: 100px;
}


/* responsive */
@media (min-width:767px){
	.exo-menu > li > a{
		display:block;
		padding: 20px 22px;
 	}

	.Blog,.flyout-right>ul,
	.flyout-left>ul, li.drop-down>ul{
		position:absolute;
	}

	.flyout-right>ul{
		left: 100%;
	}

	.flyout-left>ul{
    	right: 100%;
	}

	.image-zap{
    	width: 7em;
	}

	.logo{
    	text-align: center;
	}

	.image-logo{
    	margin: auto;
		margin-top: 50px;
		width: 400px;
	}
}

@media (max-width:767px){

	.exo-menu {
		min-height: 58px;
		background-color: #23364B;
		width: 100%;
	}
	
	.exo-menu > li > a{
		width:100% ;
	    display:none ;
	
	}

	.exo-menu > li{
		width:100%;
	}

	.display.exo-menu > li > a{
	  display:block ;
	  	padding: 20px 22px;
	}
	
	.mega-menu, .Images, .Blog,.flyout-right>ul,
	.flyout-left>ul, li.drop-down>ul{
		position:relative;
	}
	
	a.toggle-menu{
 		position: absolute;
   		right: 0px;
    	padding: 20px;
    	font-size: 27px;
    	background-color: #ccc;
    	color: #23364B;
    	top: 0px;
	}
}