@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
	--cor-fonte:   #fff;
	--cor-fundo:   #801515;
	--cor-menu:	   #550000;
	--cor-submenu: #AA3939;
	--cor-hover:   #D46A6A;
	--cor-border:  #365670;

	--fonte-geral: 'Poppins', sans-serif;
}

*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	text-decoration: none;
  	font-family: var(--fonte-geral);
	font-size: 1em;
}
  
body{
    background: var(--cor-fundo);
}

/*  INICIO DO FOMULARIO CADASTRO */

.container p{
	margin: 0px;
}

.container{
	margin: 0 auto;
	margin-top: 80px;
	width: 900px;
}

.container h1{
	color: var(--cor-fonte);
	margin: 10px;
	font-size: 2.5em;
	font-family: var(--fonte-geral);
}

.card-principal{
	background: var(--cor-menu);
	border-radius: 10px;
}

.card{
	box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
	margin: 15px;
}

.form-group{
	width: 100%;
	height: 120px;
	resize: none;
}

legend{
	font-size: 1em;
	padding: 5px;
}

form, .alert {
	margin-bottom: 0;
}

.menu-for{
	text-align: center;
	margin-bottom: 10px;
}



.contener-compras{
	width: 100%;
	display: flex;
}

.contener-estoque{
	width: 100%;
	display: flex;
}

.imagem-fomulario{
	width: 150px;
	height: 150px;
}

#img-fomulario{
	width: 170px;
	height: 210px;
	text-align: center;
	margin: auto;
}

#ccodigo{
	margin: 5px;
	padding: 5px;
	text-align: right;
	width: 50px;
}


#ccod-barra{
	margin: 5px;
	padding: 5px;
	width: 200px;
}

#cnome{
	margin: 5px;
	padding: 5px;
	width: 380px;
}

#cend{
	margin: 5px;
	padding: 5px;
	width: 380px;
}

#cnum{
	margin: 5px;
	padding: 5px;
	width: 100px;
}

#ccomp{
	margin: 5px;
	padding: 5px;
	width: 110px;
}

#cbairro{
	margin: 5px;
	padding: 5px;
	width: 200px;
}

#ccep{
	margin: 5px;
	padding: 5px;
	width: 100px;
}

#ccidade{
	margin: 5px;
	padding: 5px;
	width: 200px;
}

#cestado{
	padding: 5px;
	margin: 5px;
	width: 200px;
}

#cfixo{
	margin: 5px;
	padding: 5px;
	width: 125px;
}

#ccelular1, #ccelular2{
	margin: 5px;
	padding: 5px;
	width: 135px;
}

#cemail{
	margin: 5px;
	padding: 5px;
	width: 600px;
}

#cdata-compra{
	padding: 5px;
	margin: 5px 45px 5px 5px;
	width: 150px;
}

#cvalor-custo{
	padding: 5px;
	margin: 5px;
	width: 100px;
	text-align: right;
}

#sim-est, #nao-est{
	margin-left: 20px;
	margin-right: 10px;
	vertical-align: middle;
}

#catual, #cminimo{
	padding: 5px;
	margin-left: 5px;
	margin-right: 60px;
	width: 100px;
	text-align: right;

}

#ctipo{
	padding: 5px;
	margin: 5px;
	width: 50px;
	text-align: center;
}


/*  INICIO DO MENU FORMULARIO FOMULARIO */

#btnincluir,  #btnalterar,   #btnexcluir, 
#btnpesquisa, #btnconfirmar, #btncancelar{
	background-color: var(--cor-menu);
}

.menu-for{
	margin: 0px auto;
	text-align: center;
}

.nav-botao{
	position: relative;
	display: flex;
	margin: 0 auto;
	height: 70px;
	align-items: center;
}

#btnincluir,  #btnalterar,   #btnexcluir, 
#btnpesquisa, #btnconfirmar, #btncancelar{
	color: var(--cor-fonte);
	font-size: 100%;
	font-weight: 500;
	padding: 9px 17px;
	border-radius: 5px;
	transition: all 0.3s ease;
	text-decoration: none;
	padding: 10px;
	background-color: var(--cor-menu);
	margin: 5px 5px 5px 0px;
}

#btnincluir:hover,  #btnalterar:hover,   #btnexcluir:hover, 
#btnpesquisa:hover, #btnconfirmar:hover, #btncancelar:hover{
  background: var(--cor-hover);
}

.card-principal-for{
	display: inline-block;
	width: 70%;
	margin-top: 8%;
	background: var(--cor-menu);
	border-radius: 10px;
}

.menu-for button{
	border:1px solid #25692A;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	font-weight:bold;
	font-size:13px;
	padding:6px 10px;
	text-decoration:none;
	border-color: #23364B;
	background:linear-gradient(to bottom, #23364B 5%, #365670 100%);
	box-shadow:inset 0px 1px 0px 0px #d7ecfd;
	color: var(--cor-fonte);
	text-shadow:0px 1px 0px #528009;  
} 

.formulario button:hover{
	background:linear-gradient(to bottom, #23364B 5%, #86c6f8 100%);
    box-shadow: 0px 0px 10px #517ead;
    transform: translate(0px, -5px);
    transition: transform 0.5s;
}

.formulario:active {
	position:relative;
	top:2px;
}

#for-legenda{
	text-align: left;
	margin: 15px;
	padding: 15px;
}

#for-legenda input{
	height: 30px;
}


#for-legenda label, fieldset{
	color: var(--cor-fonte);
}

			/* INICIO DAS DIV*/

.dados{
	width: 75%;
	padding: 5px;
	margin-right: 20px;
}

.for-est-fone{
	display: inline-flex;
	width: 100%;
}

.imagem{
	width: 25%;
	padding: 5px;
}

.dados-compra{
	width: 75%;
	padding: 5px;
	margin-right: 20px;
}

.prod-est{
	width: 25%;
}

.dados-estoque{
	width: 85%;
	padding: 5px;
	margin-right: 20px;
}

			/* INICIO FILDSET */

#for-fone{
	display: flex;
	margin: 5px;
	padding: 5px;
	width: 100%;
	justify-content: space-between;
}

#cbforne, #cbsetor, #cbcatgoria{
	margin: 5px;
	padding: 5px;
	width: 400px;
}

#ccompra{
	display: flex;
	margin: 5px;
	padding: 5px 5px 5px 10px;
}

#cestoque {
	width: 95%;
	margin: 5px;
	padding: 5px;
}

#cest-atual {
	width: 95%;
	padding: 5px;
}

#prod-tipo{
	padding: 5px;
	text-align: center;
}

			/*   INICIO DO CAMPOS DO FORMULARIO */



/* responsive */
@media (min-width:767px){
	.exo-menu > li > a{
		display:block;
		padding: 20px 22px;
 	}

	.Blog,.flyout-right>ul,
	.flyout-left>ul, li.drop-down>ul{
		position:absolute;
	}

	.flyout-right>ul{
		left: 100%;
	}

	.flyout-left>ul{
    	right: 100%;
	}

	.logo{
    	text-align: center;
	}

	.image-logo{
    	margin: auto;
		margin-top: 50px;
		width: 400px;
	}
}

@media (max-width:767px){

	.exo-menu {
		min-height: 58px;
		background-color: #23364B;
		width: 100%;
	}
	
	.exo-menu > li > a{
		width:100% ;
	    display:none ;
	
	}

	.exo-menu > li{
		width:100%;
	}

	.display.exo-menu > li > a{
	  display:block ;
	  	padding: 20px 22px;
	}
	
	.mega-menu, .Images, .Blog,.flyout-right>ul,
	.flyout-left>ul, li.drop-down>ul{
		position:relative;
	}
	
	a.toggle-menu{
 		position: absolute;
   		right: 0px;
    	padding: 20px;
    	font-size: 27px;
    	background-color: #ccc;
    	color: #23364B;
    	top: 0px;
	}
}